html,
body {
  height: 95%;
  width: 93%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Klavika;
  src: url("KLAVIKA-BOLD.OTF");
}


#goCenterUI,
#setCenterUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}

#goCenterText,
#setCenterText {
  color: rgb(25, 25, 25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

#setCenterUI,#goCenterUI {
  margin-left: 8px;
}


.sidenav {
  width: auto;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  margin: 30px 20px;
}

.sidenav a {
  font-size: 20px;
  display: block;
  font-family: Klavika;
  font-weight: bold;
  margin: 0px 5px 10px 0px;
}

#select {
  padding: 8px;
  font-size: 12px;
  display: block;
  font-family: Klavika;
  margin: 10px 0px;
}

#button {
  padding: 8px;
  font-size: 12px;
  display: block;
  font-family: Klavika;
  margin: 10px 0px;
  width: auto;
}

#description {
  font-family: Klavika;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

#map {
  /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
  height: 100%;
  /* Same width as the sidebar + left position in px */
  left: 200px;
  top: 20px;
  margin-left: 0px;
  margin-top: 30px;
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 10px 10px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Klavika;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Klavika;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  margin: 14px 10px 14px 0px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}


#floating-panel {
        position: relative;
        width: 600px;
        top: 10px;
        left: 40%;
        z-index: 5;
        /* background-color: #fff; */
        padding: 5px;
        /* border: 1px solid #999; */
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
